.About__Main {
  padding: 0 18rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 10rem;
}

.About__Heading {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

.About__Heading h1 {
  font-family: "Monoton", cursive;
  color: rgb(91, 100, 108);
  margin-left: 2rem;
  font-size: 7rem;
}

.About__container {
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(35, 37, 49, 0.5)),
    to(rgba(15, 15, 24, 0.5))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(35, 37, 49, 0.5),
    rgba(15, 15, 24, 0.5)
  );
  background: linear-gradient(
    180deg,
    rgba(35, 37, 49, 0.5),
    rgba(15, 15, 24, 0.5)
  );
  border: 0.2rem solid #20222e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(54px);
  backdrop-filter: blur(54px);
  border-radius: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  position: relative;
}

.About__info {
  width: 60%;
}

.About__info h2 {
  font-family: "Poppins", sans-serif;
  color: #c4c4c4;

  line-height: 1.5;
  text-align: justify;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.About__profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}

.About__profilePic img {
  width: 50%;
  min-width: 25rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.612);
  position: relative;
}

@media only screen and (max-width: 1450px) {
  .About__Main {
    padding: 0 12rem;
  }
}

@media only screen and (max-width: 1370px) {
  .About__container {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .About__container {
    flex-direction: column-reverse;
    padding: 2rem 0;
  }

  .About__info {
    margin-top: 3rem;
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  .About__Main {
    min-height: auto;
    padding: 0 8rem;
  }
}

@media only screen and (max-width: 850px) {
  .About__Heading h1 {
    font-size: 5.5rem;
  }
  .About__Heading img {
    width: 12rem;
  }
}

@media only screen and (max-width: 720px) {
  .About__Main {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 520px) {
  .About__Main {
    padding: 1rem;
  }
  .About__Heading h1 {
    font-size: 3.5rem;
  }
  .About__Heading img {
    width: 8rem;
  }
  .About__info h2 {
    font-size: 1.6rem;
  }
  .About__info {
    width: 93%;
  }
}
