.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Footer h2 {
  padding: 2rem;
  width: 100%;
  border-top: 1px solid #2c2f41;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #94a6b3;
}
