@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

:root {
  font-family: "Space Grotesk", sans-serif !important;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #10101a;
}

body::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #10101a; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #18182e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #10101a; /* creates padding around scroll thumb */
}

.viewLink {
  margin-top: 5rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 92.4%;
  letter-spacing: 0.19em;
  color: #c4c4c4;
  text-decoration: none;
  position: relative;
}

.viewLink::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 50%;
  height: 1px;
  background: #c4c4c4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.viewLink:hover::after {
  width: 100%;
}
